.close {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../resources/images/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.close:hover {
  opacity: .8;
}

.close:focus {
  outline: none;
}