.initiative__share {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 33px 0 0 0;
  list-style: none;
  font-size: 0;
}

.initiative__share::before {
  content: 'Поделиться';
  margin-right: 48px;
  font-family: Roboto, Arial, serif;
  font-size: 24px;
}