/* Подключаем Roboto */

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./Roboto/Roboto-Regular.ttf) format("opentype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./Roboto/Roboto-Light.ttf) format("opentype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./Roboto/Roboto-Bold.ttf) format("opentype");
}