.button {
  width: 188px;
  height: 60px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 10px;
  color: #FFFEFE;
  background-color: #59a1f2;
  transition: .2s linear;
  cursor: pointer;
  user-select: none; 
}

.button:hover {
  opacity: .8;
}

.button:disabled {
  color: rgb(255, 254, 254);
  background-color: rgba(89, 161, 242, .4);
}

.button:focus {
  outline: none; 
}