.main__illustration_page_two {
  background-image: url(../../../../resources/images/backgrounds/bckg2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}