.main__illustration_page_three {
  background-image: url(../../../../resources/images/backgrounds/bckg3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}