.main__illustration_page_four {
  background-image: url(../../../../resources/images/backgrounds/bckg4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}