.main__illustration_page_one {
  background-image: url(../../../../resources/images/backgrounds/bckg1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}